.nav_img {
  max-width: 5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.form_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form {
  width: 20%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--black);
  transition: all 0.5s;
  border-radius: 1rem;
}

.login_form > h1 {
  font-size: 4rem;
}

.login_form > label {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.login_form > input[type="text"],
.login_form > input[type="password"] {
  width: 90%;
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--black-2);
  border: 2px solid var(--black);
  outline: none;
  transition: border 0.3s ease;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  color: var(--white);
}

.login_form > input[type="text"]:hover,
.login_form > input[type="password"]:hover {
  border: 2px solid var(--accent);
}

.login_form > input[type="text"]:focus,
.login_form > input[type="password"]:focus {
  border: 2px solid var(--accent);
}

.login_form > label .asterix {
  color: red;
}

.link {
  color: var(--accent);
}

.login_form > input[type="submit"] {
  width: 90%;
  margin: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  font-size: 1.2rem;
  border: 2px var(--accent) solid;
  color: var(--white);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.login_form > input[type="submit"]:hover {
  background-color: var(--accent);
}

.bottom_form {
  width: 100%;
  text-align: center;
  margin: 1rem;
}
